    Клиентская область делится на две зоны - SRC (левая) и DST (правая) одинаковых размеров. Между зонами и границами окна бордюр не менее 5 пикселей. Размеры зон пересчитываются от размера окна.
    Программа обрабатывает файл (.bmp, .png, .gif, .jpg). Если он больше зоны, то выводится его центральная область. Если меньше, то он выводится в центр, а остальные пиксели закрашиваюся синим. Все операции проводятся над полным изображением, а не только тем, что на экране. При увеличении окна появятся недостающие части.
    Имеются кнопки для копирования изображения из SRC в DST и наоборот.
    По чтению нового файла программа приводится в исходное состояние.
    Имеется кнопка для записи изображения из DST в .png файл. Сохранять полное изображение.

    Последующие операции в качестве исходного изображения берут SRC и помещают результат в DST. Список фильтров:
        Перевод в черно-белое (0.299*R + 0.587*G + 0.114*B)
        Выделение контуров. Вводится порог (JSlider; http://www.java2s.com/Tutorial/Java/0240__Swing/UsingJOptionPanewithaJSlider.htm). При движении слайдера картинка автоматически обновляется.
        Фильтры-свертки: сглаживание (blur) и резкость (sharpen) (частные случаи матричного преобразования)
        Идентичное преобразование
        Негатив
        Тиснение (частный случай матричного преобразования)
        Акварелизация
        Гамма-коррекция. Уровень вводится через JSlider; то же можно в JOptionPane; должна быть возможность вводить дробные величины как минимум от 0.1 до 10.0 с шагом 0.1. При движении слайдера картинка автоматически обновляется.
        Произвольное матричное (матрица 3х3) преобразование. Матрицу задает ползователь в диалоге. В отдельном поле задается нормировочный коэффициент (на него все делится). Есть возможность его автоматически высчитать (сумма всех элементов матрицы). В отдельном поле задается сдвиг (константа, которая прибавляется к итоговому значению цвета).
